<h1>Esto es la Vista de Detalle de un libro</h1>

    <div style="background-color:aqua">
        <p> Titulo: {{libro.Titulo}} </p>
        <p> Editorial: {{libro.Editorial}} </p>
        <p> Precio: {{libro.Precio}} €</p>
        <p> Descripcion: {{libro.Descripcion}} </p>
    </div>
    <label id="cantidad_{{libro.ISBN}}">{{cantidad}}</label>
    <div name="boton" id="botonmas_{{libro.ISBN}}"></div>
    <div name="boton"id="botonmenos_{{libro.ISBN}}"></div>